<%= form_for @person, :html => { :class => "form-horizontal person" } do |f| %>

  <% if @person.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="ui header"><%= t("messages.error.header") %></h4>

    <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% if params[:action] == 'show' %>
        <%= f.text_field :name, :class => 'form-control', disabled: true %>
      <% else %>
        <%= f.text_field :name, :class => 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <label class='control-label col-lg-2'>CPF</label>
    <div class="col-lg-10">
      <% if params[:action] == 'show' %>
        <%= f.text_field :cpf, :class => 'form-control', disabled: true %>
      <% else %>
        <%= f.text_field :cpf, :class => 'form-control' %>
      <% end %>
    </div>
  </div>

  <% if params[:action] != 'show' %>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), people_path, :class => 'btn btn-default' %>
      </div>
    </div>
  <% end %>
<% end %>
