<%= form_for(@order, :html => {id: "order-form", class: "ui form"}, :remote => true) do |f| %>
  <% if @order.errors.any? %>
    <div class="ui red negative message">
      <h2><%= t('messages.errors.header') %></h2>
      <% @order.errors.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'product_select_form' %>

  <table class="ui selectable inverted grey table" id="products-table">
    <thead class="inverted black">
      <tr>
        <th><%= t('table.headers.name') %></th>
        <th><%= t('table.headers.value') %></th>
        <th><%= t('page.headers.amount') %></th>
        <th><%= t('messages.notice.totals') %></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
<% end %>
