<%= form_for(@order, :html => {id: "order-form"}) do |f| %>
  <% if @order.errors.any? %>
    <div class="ui red negative message">
      <h2><%= t('messages.errors.header') %></h2>
      <% @order.errors.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'product_select_form' %>

  <%= f.submit class: "hidden" %>
<% end %>
