<div role="nested-items-row" class="row nested-fields" style="margin-top: 10px">
  <div class="col-md-12 nested-parent" id="nested-field-div">
    <label><%= t('page.headers.product') %></label>
    <div class="form-group">
      <%=select("post", "product_id", Product.all.order(name: :asc).collect {|p| [ p.name, p.value ]},
      { include_blank: true }, {class:"form-control produto"} )%>
    </div>
    <div class="form-group">
      <%= f.label t('page.headers.amount') %>
      <%= f.number_field :amount, required: true, class: "form-control product_amount" %>
    </div>
    <div class="form-group">
      <%= f.label t('table.headers.total_unit') %>
      <%= f.text_field :value, required: true, readonly: true, class: "form-control product_value" %>
    </div>
    <div class="form-group">
      <%= f.label t('messages.notice.totals') %>
      <%= f.text_field :total, required: true, readonly: true, class: "form-control product_total" %>
    </div>
    <div class="form-group  width100" >
      <%= link_to_remove_association f do %>
        <button class="btn btn-danger" id= "button-inline"><%= fa_icon 'times' %></button>
      <% end %>
    </div>
  </div>
</div>
