<div role="nested-items-row" class="row nested-fields" style="margin-top: 10px">
  <div class="col-md-12" id="nested-field-div">
    <label><%= t('page.headers.product') %></label>

    <div class="form-group">
      <%= f.select(:id, Product.get_collection_for_select_tag, required: true, prompt: "Selecione o produto") %>
    </div>

    <div class="form-group">
      <%= f.label t('page.headers.amount') %>
      <%= f.number_field :amount, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label t('table.headers.total_unit') %>
      <%= f.text_field :value, disabled: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label t('messages.notice.totals') %>
      <%= f.text_field :total, disabled: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= link_to_remove_association f do %>
        <button class="btn btn-danger">x</button>
      <% end %>
    </div>
  </div>
</div>
