<div class="four fields">
  <div class="field" id="item_info">
    <label><%= t('page.headers.product') %></label>
    <%= select("item", "id", Product.get_collection_for_select_tag, prompt: t('page.controllers.select_product'), required: true) %>
  </div>

  <div class="field">
    <label><%= t('page.headers.amount') %></label>
    <input type="number" name="item[amount]" id="item_amount" min="1">
  </div>

  <div class="field">
    <label><%= t('messages.notice.total_unit') %></label>
    <input type='text' name="item[value]" id="item_value" disabled>
  </div>

  <div class="field">
    <label><%= t('messages.notice.totals') %></label>
    <input type='text' name="item[total]" id="item_total" disabled>
  </div>

  <div class="field">
    <!-- hack zone start -->
    <label class='hidden'>&nbsp</label>
    <!-- hack zone end -->
    <%= render partial: 'layouts/animated_button', locals: {
      name:          t('page.controllers.add'),
      icon_class:    "add icon",
      clickCallback: "$('tbody').add_to_cart();"
    } %>
  </div>
</div>
