<h1>Listing Orders</h1>

<table class="ui table selectable inverted">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if order.user_id == current_user.id %>
        <tr>
          <td>
            <%= link_to order do %>
              <div><%= order.id %></div>
            <% end %>
          </td>
          <td>
            <%= link_to order do %>
              <div><%= convert_number_to_money order.total_value %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<hr>

<%= render partial: 'layouts/animated_button', locals: {
  name:          t('page.controllers.new'),
  icon_class:    "add icon",
  clickCallback: "window.location.href = '#{new_order_path}'"
} %>
