<% if current_user == @order.user %>
  <h2 class="ui header">Order #<%= @order.id %></h2>

  <table class="ui table selectable inverted">
    <thead>
      <tr>
        <th>Product</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
      <% @order.items.each do |v| %>
        <% prod = Product.find(v.prodid) %>
        <tr>
          <td><%= prod.name %></td>
          <td><i class="dollar icon"></i><%= prod.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="ui header">Total: <%= convert_number_to_money @order.total_value %></h2>

  <hr>

  <%= render partial: 'layouts/animated_button', locals: {
    name:          t('page.controllers.back'),
    icon_class:    "reply icon",
    clickCallback: "window.location.href = '#{orders_path}'"
  } %>
<% else %>
  <div class="ui red negative message">
    <h2>Oops, there are some problems:</h2>
    <ul>
      <li>This service order doesn't belong to you (User: <%= @order.user %> | <%= current_user %>)</li>
    </ul>
<% end %>
