<div class="col-md-offset-2 col-md-8">
  <h2><%= t('page.headers.order') %> #<%= @order.id %></h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= t('table.headers.product') %></th>
        <th><%= t('table.headers.value') %></th>
        <th><%= t('table.headers.amount') %></th>
        <th><%= t('table.headers.total') %></th>
      </tr>
    </thead>

    <tbody>
      <% @order.items.each do |v| %>
        <% prod = Product.find(v.prodid) %>
        <tr>
          <td><%= prod.name %></td>
          <td><%= convert_number_to_money prod.value %></td>
          <td><%= number_with_delimiter v.amount, :delimiter => "," %></td>
          <td><%= convert_number_to_money prod.value * v.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="ui header"><%= t('messages.notice.totals') %> <%= convert_number_to_money @order.total_value %></h2>

  <hr>

  <%= link_to t('page.controllers.back'), orders_path, class: "btn btn-default" %>
  <%= link_to t('page.controllers.destroy'), order_path(@order), method: :delete, class: "btn btn-danger" %>
</div>
