<% if @product.errors.any? %>
  <div class="ui red negative message">
    <h1 class="ui header"> Oops, there are some problems: </h1>

    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @product, :html => {:id => "product-form", :class => "ui form"} do |f| %>
  <div class="three fields">
      <div class="field">
        <%= f.label        :name %>
        <%= f.text_field   :name %>
      </div>
  </div>
  <div class="three fields">
      <div class="field">
        <%= f.label        :value %>
        <%= f.number_field :value, :step => "0.10" %>
      </div>
  </div>

  <%= f.submit :class => "hidden" %>

  <%= render partial: 'layouts/animated_button', locals: {
    name:          t('page.controllers.submit'),
    icon_class:    "send icon",
    clickCallback: "$('#product-form').submit();"
  } %>

  <% if @product.created_at %>
    <%= render partial: 'layouts/animated_button', locals: {
      name:          t('page.controllers.show'),
      icon_class:    "open folder icon",
      clickCallback: "window.location.href = '/products/#{@product.id}'",
    } %>
  <% end %>

  <%= render partial: 'layouts/animated_button', locals: {
    name:            t('page.controllers.back'),
    icon_class:      "reply icon",
    clickCallback:   "window.location.href = '/'",
  } %>
<% end %>
