<!DOCTYPE html>
<html>
  <head>
    <title>Parts Store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= nav_bar brand: 'Parts Store', fixed: :top, responsive: true do %>
      <%= menu_group do %>
        <% if user_signed_in? %>
          <%= menu_item fa_icon('user-o', text: t('page.headers.people')), people_path %>
          <%= menu_item fa_icon('cubes', text: t('page.headers.products')), products_path %>
          <%= menu_divider %>
          <%= menu_item fa_icon('list-alt', text: t('page.headers.orders')), orders_path %>
          <%= menu_item fa_icon('users', text: t('page.headers.salesmen')), salesmen_path %>
          <%= menu_item fa_icon('bar-chart', text: t('page.headers.info')), aplicacion_graphic_path %>
        <% end %>
      <% end %>
      <%= menu_group pull: :right do %>
        <% if user_signed_in? %>
          <%= menu_item fa_icon('sign-out', text: t('page.controllers.log_out')), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= menu_item "Ajuda", new_registration_path(:user) %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container" id="application-container">
      <!--div class="row">
      <div class="col-lg-offset-2 col-md-8 col-xs-4 col-lg-10">
        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-warning" role="alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
    </div-->
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
