<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar brand: 'Store', brand_link: root_path, fixed: :top, responsive: true do %>
    <%= menu_group pull: :right do %>
      <% if user_signed_in? %>
        <%= menu_item t('page.controllers.my_orders'), orders_path %>
        <%= menu_item t('page.controllers.log_out'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= menu_item t('page.controllers.sign_up'), new_registration_path(:user) %>
        <%= menu_item t('page.controllers.log_in'), user_session_path %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container" id="application-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-warning" role="alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
