<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui menu">
    <%= link_to root_path, class: :item do %>
      <i class="home icon big inverted black"></i>
    <% end %>
    <div class="right menu">
      <a class="primary item">Sign Up</a>
      <a class="item">Log in</a>
    </div>
  </div>
  <div class="ui container">
    <div class="ui container segments">
      <div class="ui container segment">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
